#cp2016 p, #cp2016 a, #cp2016 li, #cp2016 select option{
	font-family: arial, helvetica, sans;
	font-size:15px;
	color:#333333
}

#cp2016 text{
	font-family: arial, helvetica, sans;
	fill:#333333;
	font-size:15px;
}

#cp2016 .disable-select{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#cp2016 .c-fix:after{
  content:"";
  clear:both;
  display:table;
}

#cp2016 .cp2016-view{
	position:relative;
	z-index:10;
	left:0%;
	top:0%;
	opacity:1;
	visibility:visible;
	height:600px;
	height:100vh;
	width:100%;

	-webkit-transition:opacity 0.75s ease;
	-moz-transition:opacity 0.75s ease;
	-o-transition:opacity 0.75s ease;
	transition:opacity 0.75s ease;
}

#cp2016 .cp2016-view.out-of-view{
	position:absolute;
	left:-101%;
	top:0%;
	opacity:0;
	visibility:hidden;

	-webkit-transition:opacity 0s ease;
	-moz-transition:opacity 0s ease;
	-o-transition:opacity 0s ease;
	transition:opacity 0s ease;
}

#cp2016 .as-table{
	display:table;
	border-collapse: collapse;
	table-layout: fixed;
	width:100%;
}
#cp2016 .as-table > .as-row{
	display:table-row;
}
#cp2016 .as-row > .as-cell{
	display:table-cell;
	padding:5px 3px 2px 3px;
}

#cp2016 #tractmap-legend{
	position:absolute;
	right:20px;
	top:50px;
	width:40px;
	height:300px;
	pointer-events:none;
}

#cp2016 .horizontal-buttons > div{
	float:left;
	margin-right:20px;
	cursor:pointer;
}

#cp2016 .horizontal-buttons > div.button-selected > p{color:#0D73D6;}

#cp2016 select{
	background:#ffffff;
	border:1px solid #aaaaaa;
	outline:0px solid #aaaaaa;
	padding:5px;
	margin:0px;
	font-size:15px;
}

/*
#cp2016 select:focus{
	outline:1px solid #ffffff;
}*/

#cp2016 select option{
	background:#ffffff;
	font-size:15px;
	font-family:arial;
}